@font-face {
   font-family: 'Satisfy';
   font-style: regular;
   font-weight: 400;
   src: url('file:///D:/users/liu/Desktop/lab_site-gh-pages/lab_site-gh-pages//fonts/Satisfy/regular.ttf') format('truetype');
}
